.createAcc-header {
  font-size: 31px;
  font-family: Arial, sans-serif;
  font-weight: 700;
  color: rgb(105, 104, 104);
  margin-top: 100px;
  margin-left: 60px;
  position: relative;
  }
  
  .createAcc-list {
  list-style: none;
  margin: 0;
  padding: 0;
  margin-top: 30px; /* Setze den Abstand zwischen Überschrift und Liste hier */
  margin-left: 75px;
  }
  
  .createAcc-list li {
  margin-bottom: 50px;
  }
  .createAcc-container {
  display: grid;
  grid-template-columns: 1fr; /* Eine Spalte /
  grid-gap: 30px; / Abstand zwischen den Elementen */
  }
  
  .createAcc-header {
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: 10px;
  align-items: center;
  }
  
  .createAcc-form {
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: 10px;
  }
  
  .form-row {
  display: grid;
  grid-template-columns: 300px 1fr; /* Erstes Element 200px breit, zweites Element nimmt den Rest des Platzes ein */
  grid-gap: 15px;
  align-items: center;
  }
  
  
  .form-label {
      margin-left: 70px;
      margin-right:120px; /* Abstand zwischen der Textbox und dem Label */
      margin-bottom: 20px;
    }
  

  .form-row input {
      width: 25%; /* Breite der Textboxen */
      height: 30px; /* Höhe der Textboxen */
      border-color: rgb(100, 165, 226); /* Randfarbe der Textboxen */
      border-radius: 10px;
    }
  .button-container {
      display: flex;
      justify-content: flex-start;
      align-items: center;
      margin-top: 20px; /* Abstand zwischen Formular und Buttons */
      margin-left: 330px; /* Abstand zwischen linkem Rand und Buttons */
    }
    
    .cancel-button {
      background-color: rgb(255, 255, 255);
      color:rgb(100, 165, 226); /* Schriftfarbe des Speichern-Buttons */
      border-color: rgb(100, 165, 226);
      margin-right: 35px; /* Abstand zwischen den Buttons */
      border-radius: 10px; /* Abrundung des Stornieren-Buttons */
      height: 40px; /* Höhe des Stornieren-Buttons */
      width: 100px; /* Breite des Stornieren-Buttons */
    }
    
    .save-button {
      background-color: orange;/* Hintergrundfarbe des Speichern-Buttons */
      border-color: orange;
      color: rgb(255, 255, 255); /* Schriftfarbe des Speichern-Buttons */
      border-radius: 10px; /* Abrundung des Speichern-Buttons */
      height: 40px; /* Höhe des Speichern-Buttons */
      width: 100px; /* Breite des Speichern-Buttons */
    }


