/* Dieser Container enthält den gesamten Login-Bildschirm */
.container {
  width: 100%;
  display: flex;
  overflow: auto;
  min-height: 100vh;
  align-items: center;
  flex-direction: column;
}

/* Hintergrund */
.Background {
  gap: 10px;
  width: 100%;
  height: 1117px;
  display: flex;
  overflow: hidden;
  position: relative;
  align-items: flex-start;
  background-color: rgba(0, 0, 46, 1);
}

/* Runder blauer Login-Button */
.rectangular-button {
  position: absolute;
  top: 68%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 25%;
  padding: 1rem;
  border: none;
  background-color: #8D8DDA;
  color: white;
  text-align: center;
  text-decoration: none;
  cursor: pointer;
  font-size: 1.5rem;
  border-radius: 120px;
}

/* Weißer rechteckiger Bereich, der das Login-Formular enthält */
.white-rectangle {
  width: 50%;
  height: 70%;
  background-color: rgb(255, 255, 255);
  top: 15%;
  left: 25%;
  border-radius: 3px;
  position: relative;
}

/* Textbox für Benutzernamen */
.textbox_Benutzername {
  position: absolute;
  top: 35%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 30%;
  padding: 1rem;
  border: none;
  border-bottom: 1px solid black;
  outline: none;
  font-size: 1rem;
}

/* Benutzername-Icon */
.frame-image-Username {
  position: absolute;
  top: 35%;
  left: 32%;
  transform: translate(-50%, -50%);
  width: 45px;
  height: 45px;
}

/* Platzhalter-Text in der Textbox */
.textbox::placeholder {
  color: black;
}

/* Benutzernamen-Überschrift */
.frame-Benutzername {
  position: absolute;
  top: 30%;
  left: 39%;
  transform: translate(-50%, -50%);
  color: rgba(112, 112, 112, 1);
  height: auto;
  font-size: 24px;
  font-style: bold;
  text-align: left;
  font-family: Inter;
  font-weight: 700;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}

/* Passwort-Icon */
.frame-image-Password {
  position: absolute;
  top: 50%;
  left: 32%;
  transform: translate(-50%, -50%);
  width: 45px;
  height: 45px;
}

/* Text: "Passwort vergessen" */
.frame-text-vergessen {
  position: absolute;
  top: 56%;
  left: 55%;
  transform: translate(-50%, -50%);
  color: rgba(168, 167, 167, 1);
  height: auto;
  font-size: 20px;
  font-style: bold;
  text-align: left;
  font-family: Inter;
  font-weight: 700;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}

/* Passwort-Überschrift */
.frame-text-Password {
  position: absolute;
  top: 45%;
  left: 40%;
  transform: translate(-50%, -50%);
  color: rgba(112, 112, 112, 1);
  height: auto;
  font-size: 24px;
  font-style: bold;
  text-align: left;
  font-family: Inter;
  font-weight: 700;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}

/* Textbox für Passwort */
.textbox_Passwort {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 30%;
  padding: 1rem;
  border: none;
  border-bottom: 1px solid black;
  outline: none;
  font-size: 1rem;
}

/* Fehlermeldung */
.error_message {
  color: red;
  margin-bottom: 10px;
}

/* Popup error message */
.popup_error_message {
  position: absolute;
  top: 42%; /* Adjust as needed to position the popup below the textbox_Benutzername */
  left: 50%;
  transform: translate(-50%, -50%);
  color: red;
  background-color: white;
  padding: 10px;
  border: 1px solid red;
  border-radius: 5px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  z-index: 1;
}

/* OK button */
.ok_button {
  display: block;
  margin: 10px auto;
  padding: 5px 15px;
  background-color: #8d8dda;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 1rem;
}

.ok_button:hover {
  background-color: #6c6cbf;
}