
.frame-frame-wrapper {
    background-color: 
  #00002e;
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
  }
  
  .frame-frame {
    background-color: 
  #00002e;
    border: 1px none;
    height: 1117px;
    width: 1728px;
  }
  
  .frame-overlap-group {
    background-color: 
  #ffffff;
    border-radius: 15px;
    height: 780px;
    left: 644px;
    position: relative;
    top: 169px;
    width: 440px;
  }
  
  .frame-text-wrapper {
    color: 
  #a8a7a7;
    font-family: "Inter", Helvetica;
    font-size: 20px;
    font-weight: 400;
    left: 92px;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    top: 223px;
    white-space: nowrap;
  }
  
  .frame-h-1 {
    color: 
  #000000;
    font-family: "Inter", Helvetica;
    font-size: 40px;
    font-weight: 700;
    left: 121px;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    text-align: center;
    top: 51px;
    white-space: nowrap;
  }
  
  .frame-div {
    color: 
  #707070;
    font-family: "Inter", Helvetica;
    font-size: 24px;
    font-weight: 700;
    left: 45px;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    top: 177px;
  }
  
  .frame-image {
    height: 27px;
    left: 45px;
    object-fit: cover;
    position: absolute;
    top: 217px;
    width: 31px;
  }
  
  .frame-text-wrapper-2 {
    color: 
  #a8a7a7;
    font-family: "Inter", Helvetica;
    font-size: 20px;
    font-weight: 400;
    left: 90px;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    top: 352px;
    white-space: nowrap;
  }
  
  .frame-text-wrapper-3 {
    color: 
  #a8a7a7;
    font-family: "Inter", Helvetica;
    font-size: 20px;
    font-weight: 700;
    left: 196px;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    top: 394px;
    white-space: nowrap;
  }
  
  .frame-text-wrapper-4 {
    color: 
  #707070;
    font-family: "Inter", Helvetica;
    font-size: 24px;
    font-weight: 700;
    left: 43px;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    top: 309px;
  }
  
  .frame-image-4 {
    height: 31px;
    left: 43px;
    object-fit: cover;
    position: absolute;
    top: 349px;
    width: 31px;
  }
  
  .frame-line {
    height: 1px;
    left: 35px;
    object-fit: cover;
    position: absolute;
    top: 265px;
    width: 371px;
  }
  
  .frame-line-25 {
    height: 1px;
    left: 31px;
    object-fit: cover;
    position: absolute;
    top: 389px;
    width: 371px;
  }
  
  .frame-overlap {
    border-radius: 50px;
    height: 60px;
    left: 43px;
    position: absolute;
    top: 485px;
    width: 337px;
  }
  
  .frame-rectangle {
    background-color: 
  #8d8dda;
    border-radius: 50px;
    cursor: pointer;
    height: 60px;
    left: 0;
    position: absolute;
    top: 0;
    width: 337px;
  }
  
  .frame-text-wrapper-5 {
    color: 
  #ffffff;
    font-family: "Inter", Helvetica;
    font-size: 25px;
    font-weight: 700;
    left: 106px;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    top: 14px;
    white-space: nowrap;
  }