
.container {
  display: flex;
  justify-content: center;
  align-items: center;
  /* Add other necessary styles for positioning */
}
.input-container {
  margin: 0;
  max-height: 20vh;
  background-color: #ffffff;
  display:flex;
  justify-content: center;
  align-items: center;
  /* Add other necessary styles for positioning */
}
form {
  display: flex;
  flex-direction: column;
  width: 150%;
  align-items: center; 
}

input,
select {
  margin-bottom: 1rem;
  padding: 0.6rem;
  font-size: 1.2rem;
  border: 1px solid #ccc;
  border-radius: 4px;
  width: 50%; 
}

button {
  
  padding: 0.6rem;
  font-size: 1.4rem;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  width: 50%;
  margin-top: 1rem; 
}

button:hover {
  background-color: #0056b3;
}

button:disabled {
  background-color: #ccc;
  cursor: not-allowed;
}

.eyeIcon {
  position: absolute;
  top: 50%;
  right: 25%;
  cursor: pointer;
  font-size: 1.5rem;
}

.popupWrapper {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
}

.popup {
  background-color: white;
  padding: 20px;
  border-radius: 5px;
  text-align: center;
}