/* Navigationsleiste */
.navbar {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: #f8f8f8;
    z-index: 999;
  }
  
  /* Dieser Container enthält das gesamte Dongle-Anforderungsformular */
  .Lizenzhinzufügen-container {
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    max-height: 20vh;
    justify-content: center;
    height: calc(80vh); /* Setze die Höhe des Containers auf die verfügbare Bildschirmhöhe abzüglich der Navigationshöhe */
  }
  
  /* Überschrift des Formulars */
  .Lizenzhinzufügen-header {
    font-size: 31px;
    font-family: Arial, sans-serif;
    font-weight: 700;
    color: rgb(105, 104, 104);
    margin-bottom: 20px;
  }
  
  /* Grid-Container für das Anforderungsformular */
  .Lizenzhinzufügen-form {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr)); /* Passe die Spalten automatisch an */
    grid-gap: 15px;
    max-width: 800px; /* Begrenze die Breite des Formulars */
    margin: 0 auto;
    padding: 20px;
  }
  
  /* Ein Formularzeilenelement im Grid */
  .form-row {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
  }
  
  /* Formularbeschriftung */
  .form-label {
    width: 200px;
    margin-right: 10px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
  
  /* Eingabefelder innerhalb einer Formularzeile */
  .form-row input {
    flex: 1;
    height: 30px;
    border-color: rgb(100, 165, 226);
    border-radius: 10px;
    padding: 5px;
  }
  
  /* Button-Container am unteren Ende des Formulars */
  .button-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
  }
  
  /* Abbrechen-Schaltfläche */
  .cancel-button {
    background-color: rgb(255, 255, 255);
    color: rgb(100, 165, 226);
    border-color: rgb(100, 165, 226);
    margin-right: 35px;
    border-radius: 10px;
    height: 40px;
    width: 100px;
  }
  
  /* Speichern-Schaltfläche */
  .save-button {
    background-color: orange;
    border-color: orange;
    color: rgb(255, 255, 255);
    border-radius: 10px;
    height: 40px;
    width: 100px;
  }