/* Dongle-Anforderungs-Button */
.Donglehinzufuegen {
  position: absolute;
  top: 221px;
  right: 275px;
  width: 221px;
  height: 86px;
  border-radius: 19px;
  background: #8D8DDA;
  cursor: pointer;
  display: flex;           /* Flexbox hinzugefügt */
  justify-content: center; /* Inhalt horizontal zentrieren */
  align-items: center;     /* Inhalt vertikal zentrieren */
}
.Donglehinzufuegen:hover {
  background-color: rgb(50, 50, 150);
}

/* Dongle-Anforderungstext */
.Donglehinzufuegentext {
  color: rgb(255, 255, 255);
  width: 151px;
  height: auto;
  font-size: 30px;
  font-style: Bold;
  text-align: center;
  font-family: Inter;
  font-weight: 700;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
  margin: 0;              /* Ränder zurücksetzen */
  position: absolute;       /* Position zurücksetzen */
}

/* Dongle-Tabelle */
.DongleTable {
  position: absolute;
  top: 340px; 
  left: 0px;
  right: 0px;
}

/* Lizenz */
.Lizenz {
  position: fixed;
  top: 340px; 
  left: 20px;
  right: 20px;
}

.tableContainer {
  max-width: 90%; /* Adjust this percentage as needed */
  margin: auto;
}


