/*Dieser Container enthält den gesamten Inhalt der Seite */
.container {
  width: 100%;
  display: flex;
  overflow: auto;
  min-height: 100vh;
  align-items: center;
  flex-direction: column;
}
/* Dieser Rahmen enthält die Navigationselemente*/
.frame7 {
  gap: 10px;
  width: 100%;
  display: flex;
  overflow: hidden;
  position: relative;
  align-items: flex-start;
  background-color: rgb(255, 255, 255);
}

/*Dieser Abschnitt enthält den Seiteninhalt*/
.content {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 20%;
}

/*Dies erstellt einen blauen Balken oben auf der Seite */
.rectanglebackground {
  top: 0;
  left: 0;
  width: 100%;
  height: 187px; 
  position: absolute; 
  background-color: #00002E;
  z-index: -1; 
}
/*Logo der Anwendung */
.logo {
  top: 23px;
left: 50px;
position: absolute;
width: 150px; 
height: auto; 
background-color: rgba(255, 255, 255, 1); 
}
  .home:hover::after,
  .lizenz:hover::after,
  .anfrage:hover::after,
  .admin:hover::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 2px; 
    background-color: white;
    transition: transform 0.1s ease; 

  }
  .home:active::after,
  .lizenz:active::after,
  .anfrage:active::after,
  .admin:active::after {
    transform: scaleX(0.3); 
  }

  /*Navigationsschaltflächen oben*/
  .home {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px 20px;
    top: 119px;
    left: 33px;
    color: rgb(255, 255, 255);
    width: 253px;
    height: auto;
    position: absolute; 
    font-size: 32px;
    font-style: italic;
    text-align: left;
    font-family: Inter;
    font-weight: 700;
    line-height: normal;
    font-stretch: normal;
    text-decoration: none;
    background: transparent;
    border: none;
    cursor: pointer;
  }
  .lizenz {
    display: flex; 
    align-items: center; 
    justify-content: center;
    padding: 10px 20px;
    top: 118px;
    left: 336px;
    color: rgba(255, 255, 255, 1);
    width: 253px;
    height: auto;
    position: absolute;
    font-size: 32px;
    font-style: italic;
    text-align: left;
    font-family: Inter;
    font-weight: 700;
    line-height: normal;
    font-stretch: normal;
    text-decoration: none;
    background: transparent; 
    border: none;
    cursor: pointer;
  }
  .anfrage {
    display: flex; 
    align-items: center; 
    justify-content: center; /* Center text horizontally */
    padding: 10px 20px; /* Add some padding for better appearance */
    top: 118px;
    left: 647px;
    color: rgba(255, 255, 255, 1);
    width: 253px;
    height: auto;
    position: absolute;
    font-size: 32px;
    font-style: italic;
    text-align: left;
    font-family: Inter;
    font-weight: 700;
    line-height: normal;
    font-stretch: normal;
    text-decoration: none;
    background: transparent; /* Set background to transparent */
    border: none;
    cursor: pointer;
  }
  .admin {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px 20px;
    top: 118px;
    left: calc(647px + 253px + 10px); /* Calculate the new left position based on the .anfrage button's position and width */
    color: rgba(255, 255, 255, 1);
    width: 253px;
    height: auto;
    position: absolute;
    font-size: 32px;
    font-style: italic;
    text-align: left;
    font-family: Inter;
    font-weight: 700;
    line-height: normal;
    font-stretch: normal;
    text-decoration: none;
    background: transparent; /* Set background to transparent */
    border: none;
    cursor: pointer;
  }

  /*Benutzerprofilbildschaltfläche*/
  .profileimage {
    top: 35px;
    left: 1579px;
    width: 121px;
    height: 103px;
    position: absolute;
    background: transparent;
    border: none;
    cursor: pointer;
    padding: 0;
    margin: 0;
  }
  /*Benachrichtigungssymbolschaltfläche */
  .notificationimage {
    top: 56px;
    left: 1485px;
    width: 63px;
    height: 61px;
    position: absolute;
    background: transparent;
    border: none;
    cursor: pointer;
    padding: 0;
    margin: 0;
  }
  .profileImageButton:active .profileimage,
.notificationImageButton:active .notificationimage {
  transform: scale(0.8); /* Adjust the scale value as desired */
  transition: transform 0.1s ease;
}


/*Popover-Container, der beim Klicken auf das Benutzerprofilbild angezeigt wird.*/
.container1 {
  position: absolute;
  top: 160px;
  left: 1545px;
  z-index: 1000;
  width: 140px;
  height: 112px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: white;
  box-sizing: border-box;
  border-radius: 15px;
  border: 1px solid black;
  animation: fadeIn 0.3s ease-in-out;

}
/* Schaltflächen innerhalb des .container1 */
.profileButton {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px 20px;
  color: rgba(0, 0, 0, 1);
  background-color: transparent;
  border: none;
  cursor: pointer;
  font-size: 20px;
  font-style: italic;
  text-align: left;
  font-family: Inter;
  font-weight: 700;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
  border-bottom: 1px solid black;
  width: 100%;
}

.abmeldenButton {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px 20px;
  color: red;
  background-color: transparent;
  border: none;
  cursor: pointer;
  font-size: 18px;
  font-style: italic;
  text-align: left;
  font-family: Inter;
  font-weight: 700;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
  width: 100%;
}

/*Fade-in-Animation für die Popover-Container*/
@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}


.container1::before {
  content: "";
  position: absolute;
  top: -10px;
  left: 90px;
  width: 0;
  height: 0;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  border-bottom: 10px solid white;
}

/* Überlagert die gesamte Seite, wenn die Benachrichtigungen oder das Profilmenü angezeigt werden */
.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 999;
  background-color: rgba(0, 0, 0, 0.5);
}
@keyframes explode {
  0% {
    transform: scale(1);
    opacity: 1;
  }
  100% {
    transform: scale(2);
    opacity: 0;
  }
}
/*Animiert das Explodieren und Verschwinden der Schaltflächen.*/
.exploding {
  animation: explode 0.5s forwards;
}
/* Container für Benachrichtigungen, die beim Klicken auf das Benachrichtigungssymbol angezeigt werden. */
.notificationContainer {
  position: absolute;
  top: 140px;
  left: 1245px;
  background-color: #ffffff;
  border-radius: 4px;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
  padding: 16px;
  width: 300px; /* Adjust the width as needed */
  height: 270px;
  z-index: 100;
  background-color: white;
  box-sizing: border-box;
  border-radius: 15px;
  border: 1px solid black;
  animation: fadeIn 0.3s ease-in-out;
}
.notificationContainer::before {
  content: "";
  position: absolute;
  top: -10px;
  left: 260px;
  width: 0;
  height: 0;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  border-bottom: 10px solid white;
}

/*Benachrichtigungselemente innerhalb des .notificationContainer */
.notificationItem {
  background-color: #f8f9fa;
  border: 1px solid #00002E;
  border-radius: 4px;
  padding: 8px;
  margin-bottom: 8px;
  transition: background-color 0.2s ease;
  box-sizing: border-box;
  cursor: pointer;
}

.notificationItem:last-child {
  margin-bottom: 0;
}

.notificationItem:hover {
  background-color: #e9ecef;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}